.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
}

.skip-link:focus {
    top: 0;
}

.pointer {
    cursor: pointer;
}

.btn-light {
    background-color: #ffffff;
}

label {
    font-weight: 500;
}

#apiInvalid {
    font-weight: 500;
}

.vh-80 {
    min-height: 80vh;
}

.vh-90 {
    min-height: 90vh;
}

.width-500 {
    width: 500px;
}

.width-400 {
    width: 400px;
}

.poly-card-mid {
    margin: auto;
}

.add-poly-card {
    background-color: #f0f0f0;
    transition: transform .2s;
    /* Animation */
    min-height: 280px;
}

.add-appointment-card {
    background-color: #f0f0f0;
    transition: transform .2s;
}

.add-appointment-card:hover {
    transform: scale(1.025);
}

.dashboardPolyCard, .detailPolyCard {
    transition: transform .2s;
    /* Animation */
}

.dashboardPolyCard:hover, .detailPolyCard:hover {
    transform: scale(1.025);
}

#HospitalDetailScreenCard{
    min-width: 300px;
    max-width: 500px;
}

.title-grey{
    color: #616161;
}

.w-30{
    width: 30%;
}

.empty-poly-card {
    border: 0;
    min-height: 280px;
    cursor: default;
}

.add-poly-card-img {
    margin: auto;
}

.add-poly-card:hover {
    transform: scale(1.025);
}

/* Search Bar */
search-bar {
    margin: 40px;
}

/* Page Bar */
#pageBar a {
    color: #adb8ff;
}

#pageBar {
    color: #ffffff;
}

.bread-crumb-dark {
    background-color: #3d4852;
}

#searchBar {
    width: 100%;
}



/* Main Content */

/* TODO: Not working */
#mainContent {
    min-height: 100%;
    height: 100%;
}

/* Profile Page */

#profile {
    min-height: 100%;
    height: 100%;
}

#profile th {
    width: 150px;
}

#profile h2 {
    margin: 0px;
}

#profile h3 {
    font-size: 14px;
    margin: 0px 0px 25px;
}

#profile-edit-icon {
    vertical-align: middle;
    margin: 0px 5px 5px;
    cursor: pointer
}

.justify-content-around {
    justify-content: space-around;
}

.min-w-192-75 {
    min-width: 192.75px;
}

/* Error Page */

#error-page {
    min-height: 100vh;
}

/* Detail Page */

#detailPage, #editHospitalProfilePage {
    margin-top: 20px;
}

/* Media Query */

@media screen and (max-width: 480px) {
    #profile {
        font-size: 3.2vw;
    }

    #profile th {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    #emptyCard {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #profile {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* TODO: Maybe cari better way kalo ada waktu */
@media screen and (min-width: 992px) {
    #logoutDesktop {
        display: block;
    }

    #logoutMobile {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #logoutDesktop {
        display: none;
    }

    #logoutMobile {
        display: block;
    }
}

/* Not Checked */

.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}

.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}

.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a, a:active, a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary, .text-secondary-hover:hover {
    color: #59b73f !important;
}

.display-25 {
    font-size: 1.4rem;
}

.text-primary, .text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}

.avatar-xl img {
    width: 100%;
    max-width: 200px;
    /* vertical-align: top; */
}

.rounded-circle {
    border-radius: 50%;
}

.text-muted {
    color: #aeb0b4;
}

.text-muted {
    font-weight: 300;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}